.task-card {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.description {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.4;
}
.description[data-completed="true"] {
  text-decoration: line-through;
  color: var(--gray-300);
}

.btn-delete {
  background: transparent;
  border: 0;
  border-radius: 4px;
  padding: 0.25rem;
  color: var(--gray-300);
  transition: color 150ms, border-color 150ms, background-color 150ms;
  cursor: pointer;
  display: flex;
  height: fit-content;
}

.btn-delete:not(:disabled):hover {
  color: var(--red-500);
  background: var(--gray-400);
}
.btn-delete:focus {
  box-shadow: 0 0 0 1.5px var(--purple-500);
}
.btn-delete {
  cursor: not-allowed;
  opacity: 0.75;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox > input {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox:focus-within {
  box-shadow: 0 0 0 1px var(--purple-500);
}

.check-circle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid var(--blue-300);
  transition: all 150ms ease;
  cursor: pointer;
}

.check-circle > svg {
  color: var(--gray-100);
  opacity: 1;
  height: 100%;
  width: 80%;
}

.checkbox > input:checked + .check-circle {
  background: var(--purple-500);
  border-color: var(--purple-500);
}

.checkbox:hover > input:checked:not(:disabled) + .check-circle {
  background: var(--purple-300);
  border-color: var(--purple-300);
}
.checkbox > input:not(:checked) + .check-circle > svg {
  opacity: 0;
}
.checkbox > input:not(:checked):not(:disabled):hover + .check-circle {
  border-color: var(--blue-500);
}
.checkbox > input:disabled + .check-circle {
  cursor: not-allowed;
}
