.App {
}
.body {
  width: 95%;
  max-width: 736px;
  margin: 0 auto;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-row > div {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: ;
}
.info-row > div:first-child {
  color: var(--blue-300);
}
.info-row > div:last-child {
  color: var(--purple-300);
}
.badge {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  font-size: 0.75rem;
  line-height: 1.25;
}
